wps.server.address=0.0.0.0
sources.allowed=collection,https
trusted.dap.servers=https://aims3.llnl.gov/thredds/dodsC,https://dataserver.nccs.nasa.gov/thredds/dodsC
edas.manage.cluster=true
edas.manage.scheduler=true
request.port=0000
response.port=0000
dap.engine=pydap
cache.size.max=500M
esgf.openid=
esgf.password=
esgf.username=
edas.transients.dir=/tmp
edas.coll.dir=/set/edas.coll.dir/in/app.conf/
