wps.server.address=0.0.0.0
sources.allowed=collection,https
trusted.dap.servers=https://aims3.llnl.gov/thredds/dodsC/
request.port=0000
response.port=0000
dap.engine=pydap
dask.scheduler=0.0.0.0:0000
cache.size.max=500M
edask.cache.dir=/foo/bar
esgf.openid=
esgf.password=
esgf.username=
